<div class="hero">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h1 class="hero-title">
				<lfr-editable id="title00" type="rich-text">Heading Example</lfr-editable>
			</h1>
			<p class="subtitle">
			<lfr-editable id="cardContent00" type="rich-text">
				The best sugar free cheesecake you will ever taste in my opinion.
			</lfr-editable>
			</p>
			<a class="btn btn-primary element-btn hero-btn" href="/group/guest/-/sugar-free" role="button">Read More</a>
		</div>
		<div class="col-md-6">

		</div>
		</div>
	</div>
</div>